<div class="row py-5">
    <h2 class="text-center">Nueva Aplicación</h2>
</div>

<div class="row py-5">

    <% if @job.status.present? %>
        <% if @job.active? %>

        <div class="alert alert-success" role="alert">
            La oferta laboral aún está activa. ¡Genera una aplicación!
        </div>

        <% end %>
        <% if @job.ended? %>

        <div class="alert alert-danger" role="alert">
            La oferta laboral ha concluido.
        </div>

        <% end %>
        <% if @job.error? %>

        <div class="alert alert-warning" role="alert">
            Ocurrió un problema con la oferta laboral. Puedes postular pero la vacante puede o no estar disponible.
        </div>

        <% end %>
    <% end %>

    <h4 class="text-center"><%= "#{@job.title}" %></h4>
    <p><%= "#{@job.description}" %></p>
    <%= image_tag(@job.image.url, class: "img-class") %>
</div>

<div class="row py-5">
    <%= render "form", apply: @apply %>
</div>

<div class="row py-5">
    <%= link_to "Vuelve", root_path %>
</div>
  